#title {
    font-family: lato;
    font-size: 50px;
    letter-spacing: 5px;
}
.titleBackground {
    background-color: lightgrey;
    border: 2px solid cornflowerblue;
    border-radius: 100px;
}
.card {
    border: 1px solid cornflowerblue !important;
}


