#title {
    font-family: lato;
    font-size: 50px;
    letter-spacing: 5px;
}
.titleBackground {
    background-color: lightgrey;
    border: 2px solid cornflowerblue;
    border-radius: 100px;
}
.card {
    border: 1px solid cornflowerblue !important;
}
.hideMe {
    text-decoration-line: none;
    color: black;
}
.hideMe:hover {
    text-decoration-line: none;
    color:black;
}
.customEmail {
    cursor: pointer;
    font-size: small;
    color: blue;
    text-decoration-line: underline;
}
.customEmail:hover {
    text-decoration-line: none;
}


